{% extends 'films/base.html' %}

{% block title %}{% if film %}Редактировать данные о фильме{% else %}Добавить фильм{% endif %}{% endblock %}

{% block content %}
<h1>{% if film %}Редактировать данные о фильме{% else %}Добавить новый фильм{% endif %}</h1>
<form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% if field.errors %}
                <div class="invalid-feedback">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="{% url 'film_list' %}" class="btn btn-secondary">Отмена</a>
</form>

<script>
    // Скрипт для валидации формы Bootstrap
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}
